{% extends "signup/base.html" %}
{% block body_block %}
    <div class="container" style="margin-top:250px; text-align: center;">
    <div class="jumbotron">
    <h3>{{ friendship_request.from_user }} wants to be your friend</h3>
    <div class="row">
        <form method="post" action="{% url 'friendship_accept' friendship_request.pk %}" style="display:inline; margin-right:50px">
        {% csrf_token %}
        <input type="submit" value="accept" />
        </form>

        <form method="post" action="{% url 'friendship_reject' friendship_request.pk %}" style="display: inline">
        {% csrf_token %}
            <input type="submit" value="reject" />
        </form>
        </div>
        </div>
    </div>
{% endblock %}