{% extends "signup/base.html" %}
{% load staticfiles %}
{% load friendshiptags %}
{% block body_block %}
    <div class="container" style="margin-top: 60px">
            <h2 style="color: #117a8b"><strong>{{ user.first_name }}'s Friends</strong></h2>
            {% for friend in friends %}
                <div class="jumbotron">
                    <h3><strong>Friend Username: <i style="color: red">{{ friend.username }}</i></strong></h3>
                    <h3>Click <a href="/profile/{{ friend.username }}/" style="text-decoration: none">here</a> to view profile of {{ friend.username }}</h3>
                </div>
                {% empty %}
                <div>no friends</div>
            {% endfor %}
    </div>
{% endblock %}