{% extends "signup/base.html" %}
{% load static %}
{% load friendshiptags %}
{% block body_block %}
    <div class="container" style="margin-top: 60px">
        <div class="jumbotron">
            <h1>Profile Card</h1>
            <div class="container emp-profile">
                <div class="row">
                    <div class="col-md-3 col-eq">
                        <div class="profile-img">
                            <img src="{{ user_profile.profile_pic.url }}">
                        </div>
                        {% if friends %}
                            <div class="profile-img">

                                <a href="#">
                                    Friends
                                </a>

                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-eq" id="profile_div">
                        <div class="profile-head">
                            <h4><i class="glyphicon glyphicon-link"></i> <input type="text" value="{{ user.username }}"
                                                                                readonly></h4>
                            <h4><i class="glyphicon glyphicon-user"></i> <input type="text"
                                                                                value="{{ user.first_name }} {{ user.last_name }}"
                                                                                readonly></h4>
                            {% if user_profile.privacy_email == "Friends" and friends %}
                                <h4><i class="glyphicon glyphicon-envelope"></i> <input type="text" value="{{ user.email }}"
                                                                                        readonly></h4>
                            {% endif %}
                            {% if user_profile.privacy_email == "Everyone" %}
                                <h4><i class="glyphicon glyphicon-envelope"></i> <input type="text" value="{{ user.email }}"
                                                                                        readonly></h4>
                            {% endif %}
                            {% if user_profile.privacy_dob == "Friends" and friends %}
                                <h4><i class="glyphicon glyphicon-gift"></i> <input type="text" value="{{ user_profile.dob }}" readonly></h4>
                            {% endif %}
                            {% if user_profile.privacy_dob == "Everyone" %}
                                <h4><i class="glyphicon glyphicon-gift"></i> <input type="text" value="{{ user_profile.dob }}" readonly></h4>
                            {% endif %}
                            {% if user_profile.country %}
                                <h4><i class="glyphicon glyphicon-flag"></i> <input type="text" value="{{ user_profile.country }}" readonly></h4>
                            {% endif %}
                            {% if user_profile.mobile %}
                                {% if user_profile.privacy_phone == "Friends" and friends %}
                                    <h4><i class="glyphicon glyphicon-phone"></i> <input type="text" value="{{ user_profile.mobile }}" readonly></h4>
                                {% endif %}
                                {% if user_profile.privacy_phone == "Everyone" %}
                                    <h4><i class="glyphicon glyphicon-phone"></i> <input type="text" value="{{ user_profile.mobile }}" readonly></h4>
                                {% endif %}
                            {% endif %}
                            <h4><img src="{% static "media/svg/lavatory.png" %}"><input type="text" value=" {{ user_profile.gender }}" readonly></h4>
                        </div>
                    </div>
                    <div class="col-md-5 col-eq">
                        <div class="bio-head">
                            <h4>About</h4><br>
                            <textarea class="form-control" rows="8" id="comment" readonly>{{ user_profile.biography }}</textarea>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            {% if not friends %}
                <div class="row">
                    <div class="col-md-3" style="float: right">
                        <div class="upload-btn-wrapper-submit">
                            <form method="post" action="{% url 'friendship_add_friend' user.username%}">
                                {% csrf_token %}
                                <button class="btn edit" type="submit" id="addfriend">Add friend</button>
                            </form>
                            {#                            {% if not user == request.user.username %}#}
                            {#                                {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}#}
                            {#                                    <input type="hidden" name="to_username" value="{{ to_username }}" />#}
                            {#                            {% endif %}#}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}