{% extends "signup/base.html" %}
{% load i18n %}
{% block body_block %}
    <div class="container-fluid">
        <div class="sidebar-offcanvas-left messages">
            <div class="jumbotron" style="font-size: 20px; margin-top: 100px;">
                <div class="navbar">
                    <div><a href="{% url 'messages_inbox' %} " style="text-decoration: none">&raquo;&nbsp;Inbox</a></div>
                    <div><a href="{% url 'messages_outbox' %} " style="text-decoration: none">&raquo;&nbsp;Sent Messages</a></div>
                    <div><a href="{% url 'messages_compose' %} " style="text-decoration: none">&raquo;&nbsp;New Message</a></div>
                    <div><a href="{% url 'messages_trash' %} " style="text-decoration: none">&raquo;&nbsp;Trash</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 100px;margin-left:450px">
            {% block content %}
            {% endblock %}
    </div>
{% endblock %}