{#{% extends "base.html" %}#}
{% include "signup/base.html" %}
{% load i18n %}
<div class="container" style="margin-top: 60px">
    <div class="jumbotron">
        <ul class="subnavilist">
            <li><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;Inbox</a></li>
            <li><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;Sent Messages</a></li>
            <li><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;New Message</a></li>
            <li><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;Trash</a></li>
        </ul>
    </div>
</div>
{% block content %}
{% endblock %}
{% block sidebar %}

{% endblock %}
