{% extends "django_messages/base.html" %}
{% load i18n %}
{% load friendshiptags %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Compose Message"%}</h1>
            <form action="" method="post">
                {% csrf_token %}
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        <tbody><tr><th><label for="id_recipient">Recipient:</label></th><td><input type="text" name="recipient" required="" id="id_recipient"></td></tr>
                        <tr><th><label for="id_subject">Subject:</label></th><td><input type="text" name="subject" maxlength="140" required="" id="id_subject"></td></tr>
                        <tr><th><label for="id_body">Body:</label></th><td><textarea name="body" cols="55" rows="12" required="" id="id_body"></textarea></td></tr>
                        </tbody></table>
                    <input type="submit" value="Send »">
                </form>
            </form>
        </div>
    </div>
{% endblock %}
