{% extends "django_messages/base.html" %}
{% load i18n %}
{% block content %}
    <div class="jumbotron">
<dl class="message-headers">
    <dd><h3>From {{ message.sender }}</h3></dd>
    <dt>{% trans "Recieved on" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dd><strong><h2>{{ message.subject }}</h2></strong></dd>
</dl>
{{ message.body|linebreaksbr }}<br /><br />

{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}" style="margin-right: 20px">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
    </div>
{% endblock %}