{% extends "signup/base.html" %}
{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-account">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#" class="active" id="edit_details">Edit details</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{% url 'password_change' %}" id="change_password_setting">Change Password</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="account-form" action="{% url 'account_settings' %}" method="post" role="form" style="display: block;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="f_name" class="form-control" placeholder="First Name" value="{{ userProfile.first_name }}"  required >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="l_name" class="form-control" placeholder="Last Name" value="{{ userProfile.last_name }}"  >
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="account_email" class="form-control" placeholder="Email Address" required value="{{ userProfile.email }}"  >
                                        <p id="email_reset_status" style="display: none; color: red">Email already taken</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" class="form-control btn btn-save"
                                                       id="update_a" value="SAVE CHANGES">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="password-change-form" action="{% url 'change_password' %}" method="post" role="form"
                                      style="display: none;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="password" name="current" class="form-control" placeholder="Existing Password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="new" class="form-control" id="account_password" onkeyup="validateAccountPassword()" autocomplete="off"
                                               placeholder="New Password" required>
                                        <span class="form-row" id="account_strength" ></span><br/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="new1" class="form-control" id="account_password1" placeholder="Confirm Password" onkeyup="checkRepassword()" autocomplete="off" required>
                                        <span class="form-row" id="account_matching_error"></span><br/>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" class="form-control btn btn-save"
                                                       value="SAVE CHANGES">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}