{% extends 'signup/base.html' %}

{% block body_block %}
    <div class="container" style="margin-top: 60px">
        <div class="jumbotron">
            <h1>My Wallet</h1>

            <p>Your Wallet Balance is: {{ wallet.balance }}</p>

            <p>Transfer Money</p>
            <form method="post" action="{% url 'paymentInit' %}">{% csrf_token %}
                <p>Enter Amount :</p>
                <input type="text" name="amount" title="Enter Amount"/>
                <br>
                <input type="submit" value="Transfer"/>
            </form>
        </div>
    </div>
{% endblock %}
